<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fuzamei.simpleDemo.coudownlatch.pagequery.UserMapper">

	<select id="findUsersByPage" resultType="com.fuzamei.simpleDemo.coudownlatch.pagequery.User">
		select * from user limit #{start},#{rows};
	</select>
	
	<select id="findUsersCount" resultType="int">
		select count(*) from user;
	</select>
	
</mapper>